@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-light-webfont.woff2) format("woff2"),url(/fonts/weber/weber-light-webfont.woff) format("woff");
    font-weight:300;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-lightitalic-webfont.woff2) format("woff2"),url(/fonts/weber/weber-lightitalic-webfont.woff) format("woff");
    font-weight:300;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-regular-webfont.woff2) format("woff2"),url(/fonts/weber/weber-regular-webfont.woff) format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-regularitalic-webfont.woff2) format("woff2"),url(/fonts/weber/weber-regularitalic-webfont.woff) format("woff");
    font-weight:normal;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-medium-webfont.woff2) format("woff2"),url(/fonts/weber/weber-medium-webfont.woff) format("woff");
    font-weight:500;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-mediumitalic-webfont.woff2) format("woff2"),url(/fonts/weber/weber-mediumitalic-webfont.woff) format("woff");
    font-weight:500;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-bold-webfont.woff2) format("woff2"),url(/fonts/weber/weber-bold-webfont.woff) format("woff");
    font-weight:700;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'Weber';
    src:url(/fonts/weber/weber-bolditalic-webfont.woff2) format("woff2"),url(/fonts/weber/weber-bolditalic-webfont.woff) format("woff");
    font-weight:700;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'Weber Brush';
    src:url(/fonts/weber/weber-brush-webfont.woff2) format("woff2"),url(/fonts/weber/weber-brush-webfont.woff) format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'Weber Name';
    src:url(/fonts/weber-name/weber-name-webfont.woff2) format("woff2"),url(/fonts/weber-name/weber-name-webfont.woff) format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-light-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-light-webfont.woff) format("woff");
    font-weight:300;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-lightitalic-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-lightitalic-webfont.woff) format("woff");
    font-weight:300;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-regular-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-regular-webfont.woff) format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-regularitalic-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-regularitalic-webfont.woff) format("woff");
    font-weight:normal;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-medium-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-medium-webfont.woff) format("woff");
    font-weight:500;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-mediumitalic-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-mediumitalic-webfont.woff) format("woff");
    font-weight:500;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-bold-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-bold-webfont.woff) format("woff");
    font-weight:700;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH';
    src:url(/fonts/weber/th-weber-bolditalic-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-bolditalic-webfont.woff) format("woff");
    font-weight:700;
    font-style:italic;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH Brush';
    src:url(/fonts/weber/th-weber-brush-webfont.woff2) format("woff2"),url(/fonts/weber/th-weber-brush-webfont.woff) format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'WeberTH Name';
    src:url(/fonts/weber-name/th-weber-name-webfont.woff2) format("woff2"),url(/fonts/weber-name/th-weber-name-webfont.woff) format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
}
@font-face{
    font-family:'Myanmar3';
    src:local("Myanmar3"),url(/sites/gb/themes/custom/weber_base/assets/fonts/myanmar3/mm3-multi-os-webfont.ttf) format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
}